@import url('https://fonts.googleapis.com/css?family=Varela+Round');


/* sidebar */
#sidebarMenu {
    height: 100%;
    position: fixed;
    z-index: 15;
    right: 0;
    width: 100%;
    margin-top: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    /* background: linear-gradient(180deg, #7acbd6 0%, #88DFEA 100%); */
    background-color: #212121;
    padding-top: 5.5rem;
}
#sidebarMenu>a{
    position: absolute;
    top: 2rem;
    left: 6%;
    text-decoration: none;
    font-size: 1.5rem;
}
#sidebarMenu .logout-label{
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
}
#sidebarMenu .logout-label:hover{
    cursor: pointer;
}

/* hambergure icon  */

#openSidebarMenu[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

#openSidebarMenu[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 5%;
    top: 3rem;
    right: 8%;
    height: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    /* background-color: white; */
    background-color: #48DAC6;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

#openSidebarMenu[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
    width: 22px;
}


#openSidebarMenu[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(45deg);
    margin-top: 9px;
    width: 22px;
    border-radius: 0;
    height: 3px;
    /* background-color: rgb(119, 3, 3); */
    background-color: #48DAC6;;
}

#openSidebarMenu[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-45deg);
    margin-top: -10.8px;
    width: 22px;
    border-radius: 0;
    height: 3px;
    /* background-color: rgb(119, 3, 3); */
    background-color: #48DAC6;;
}

#openSidebarMenu[type=checkbox]:checked+.sidebarIconToggle {
    width: 22px;
}
.show-stats {
    display: unset;
    margin-top: 30vh;
    margin-left: 33%;
    padding: 5px;
    width: 7rem;
    font-size: 1.4rem;
    border-radius: 20px;
    border: none;
    background-color: #438088;
    /* background-color: #eeeeee; */
    /* background-color: #48DAC6; */
    /* background: linear-gradient(#46767c 0%, #76c0ca 100%); */
    color: black;
    cursor: poipointernter;
}
/* graph */
.stats{
    padding-top: 8vh;
    width: 100%;
    /* background-color: white; */
}

.stats-sec {
    height: 40vh;
    width: 90%;

}

.side-menu-container{
    width: 100%;
    overflow: auto;
    height: 100%;
    font-size: 1.5rem;
}
.sub-mdl-side-menu{
    margin-top: 10vh;
}

#sidebarMenu footer {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 3rem;
}
#sidebarMenu #modelStats{
    width: 90%;
    padding: 15px;
    margin-top: 2rem;
}

#modelStats{
    background-color: #303030;
}
#modelStats ul li{
    margin-left: 3%;
    margin-bottom: 2rem;
    overflow: auto;
}


#modelStats h3{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
#sub-model-stats span, #modelStats span{
    /* color: greenyellow; */
    color: green;
}

#sub-model-stats{
    width: 90%;
    padding: 15px;
    height: 70vh;
    overflow: auto;

}
#sub-model-stats ul li{
    margin-left: 10%;
    margin-bottom: 1.5rem;
    list-style-type: none;
}


/* search by date */
#search-by-date-form{
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    background-color: none;
}
#search-by-date-form input{
    font-size: 1.2rem;
    padding: 5px;
    background-color: #303030;
    color: rgb(204, 204, 204);

}
#search-by-date-form input[type="date"]{
    border: none;
    border-bottom: 1px solid wheat;
    border-radius: 5px;
}
#search-by-date-form input[type="submit"]{
    border: none;
    outline: none;
    font-size: 22px;
    padding: 6px;
    border-radius: 5px;
    border-bottom: 1px solid wheat;
}
#search-by-date-form input[type="date"]:hover,
#search-by-date-form input[type="submit"]:hover{
    cursor: pointer;
}
#render-date-activity{
    padding: 20px;
    background-color: #303030;
    margin: 5px;
    width: 100%;
    margin-top: 1rem;
    display: none;
}
#render-date-activity span {
    color: greenyellow;
    display: block;
}
#render-date-activity ul{
    padding-left: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
}
#render-date-activity button{
    display: none;
}



