#register, #login {
  position: fixed;
  margin-top: 6rem;
  height: 100vh;
  background-color: #6fd9e7af;
  z-index: 110;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
}

#register form, #login form {
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
}
#register form h2, #login form h2{
  margin: 1rem;
  margin-bottom: 1rem;
}
#register form input, #login form input {
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  width: 80%;
  letter-spacing: 1px;
}
#register form input[type='submit'], #login form input[type='submit']{
  border: none;
  width: 6rem;
  padding: 5px 10px 5px 9px;
  border-radius: 10px;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#register form input[type='submit']:hover, #login form input[type='submit']:hover{
  cursor: pointer;
}
#register form p, #login form p {
  margin: 5px;
}